flask==3.0.2
flask-cors==4.0.0
werkzeug==3.0.1
openai-whisper==20231117
torch==2.1.2 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cpu
numpy<2.0.0
